
.quick-starts {
  background:#f3f4f7
 }
 .quick-starts .col-md-2-4 {
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
 }
 @media (min-width: 768px) {
  .quick-starts .col-md-2-4 {
   -webkit-box-flex:0;
   -ms-flex:0 0 20%;
   flex:0 0 20%;
   max-width:20%
  }
 }
 .quick-starts .start-locally-col {
  margin-bottom:1.25rem
 }
 .quick-starts .start-locally-col .row.ptbuild,
 .quick-starts .start-locally-col .row.os,
 .quick-starts .start-locally-col .row.package,
 .quick-starts .start-locally-col .row.language,
 .quick-starts .start-locally-col .row.cuda {
  margin-bottom:1.25rem
 }
 @media screen and (min-width: 768px) {
  .quick-starts .start-locally-col .row.ptbuild,
  .quick-starts .start-locally-col .row.os,
  .quick-starts .start-locally-col .row.package,
  .quick-starts .start-locally-col .row.language,
  .quick-starts .start-locally-col .row.cuda {
   margin-bottom:0
  }
 }
 @media (min-width: 768px) and (max-width: 1239px) {
  .quick-starts .start-locally-col {
   -webkit-box-flex:0;
   -ms-flex:0 0 100%;
   flex:0 0 100%;
   max-width:100%
  }
 }
 @media screen and (min-width: 768px) {
  .quick-starts .start-locally-col {
   margin-bottom:2.5rem
  }
  .quick-starts .start-locally-col .row {
   margin-bottom:0
  }
 }
 @media screen and (min-width: 1240px) {
  .quick-starts .start-locally-col {
   margin-bottom:0
  }
 }
 .quick-starts .start-locally-col pre {
  font-size:80% !important;
  background-color:#ffffff !important
 }
 @media (min-width: 768px) and (max-width: 1239px) {
  .quick-starts .cloud-options-col {
   -webkit-box-flex:0;
   -ms-flex:0 0 100%;
   flex:0 0 100%;
   max-width:100%;
   margin-left:0;
   margin-top:1.25rem
  }
 }
 .quick-starts p {
  font-size:1.125rem;
  line-height:1.75rem
 }
 .quick-starts .card-body {
  -webkit-box-flex:1;
  -ms-flex:1 1 auto;
  flex:1 1 auto
 }
 .quick-starts .cloud-option-image {
  margin-left:.9375rem;
  margin-right:1.5625rem;
  margin-bottom:.3125rem
 }
 .quick-starts .cloud-option-row {
  margin-left:0;
  cursor:pointer
 }
 .quick-starts .option {
  border:2px solid #f3f4f7;
  font-size:1rem;
  color:#6c6c6d;
  letter-spacing:-0.22px;
  line-height:1.25rem;
  background:#fff;
  cursor:pointer
 }
 .quick-starts .option:hover {
  background-color:#ee4c2c;
  color:#fff
 }
 .quick-starts .selected {
  background-color:#ee4c2c;
  color:#fff
 }
 .quick-starts .block {
  margin-bottom:.0625rem;
  height:2.5rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
 }
 .quick-starts .title-block {
  margin:.0625rem;
  height:2.5rem;
  border:2px solid #f3f4f7;
  font-size:1rem;
  color:#6c6c6d;
  line-height:1.25rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
 }
 .quick-starts .title-block:before {
  display:block;
  content:".";
  color:transparent;
  border-left:2px solid #CCCDD1;
  height:100%;
  position:absolute;
  left:0
 }
 .quick-starts #command {
  color:#4a4a4a;
  background-color:#fff;
  padding:.9375rem;
  border:2px solid #f3f4f7;
  word-wrap:break-word;
  display:table-cell;
  vertical-align:middle
 }
 .quick-starts #command a {
  font-size:125%
 }
 @media screen and (min-width: 768px) {
  .quick-starts #command a:hover {
   color:#ee4c2c
  }
 }
 .quick-starts #command pre {
  word-break:break-all;
  white-space:normal
 }
 .quick-starts .command-container {
  display:table;
  width:100%
 }
 @media screen and (min-width: 768px) {
  .quick-starts .command-container {
   min-height:5.25rem
  }
 }
 .quick-starts .command-container pre {
  margin-bottom:0px;
  padding:0px;
  font-size:75%;
  background-color:#f3f4f7
 }
 .quick-starts .command-block {
  height:5.25rem;
  word-wrap:break-word;
  color:#6c6c6d
 }
 .quick-starts .command-block:before {
  border-left:2px solid #000
 }
 .quick-starts .quick-start-link {
  color:#6c6c6d
 }
 .quick-starts .mobile-heading {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  font-weight:400
 }
 @media screen and (min-width: 768px) {
  .quick-starts .mobile-heading {
   display:none
  }
 }
 .quick-starts .command-mobile-heading {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  font-weight:400;
  color:#000
 }
 @media screen and (min-width: 768px) {
  .quick-starts .command-mobile-heading {
   display:none
  }
 }
 .quick-starts .headings {
  display:none
 }
 @media screen and (min-width: 768px) {
  .quick-starts .headings {
   display:block
  }
 }
 .quick-starts .cloud-options-col {
  margin-top:1.25rem
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-options-col {
   margin-top:0
  }
 }
 @media (max-width: 978px) {
  .quick-starts .os-text {
   margin-top:0
  }
 }
 .quick-start-guides {
  font-size:1.125rem;
  letter-spacing:0.25px;
  line-height:2.25rem;
  color:#CCCDD1
 }
 .quick-start-guides .select-instructions {
  color:#262626;
  border-bottom:2px solid #CCCDD1;
  margin-bottom:1rem;
  display:inline-block
 }
 @media screen and (min-width: 768px) {
  .quick-start-guides .select-instructions {
   margin-bottom:0
  }
 }
 .quick-start-module {
  padding-top:2.5rem;
  padding-bottom:2.5rem
 }
 .quick-start-module .option-module {
  float:right
 }
 @media screen and (min-width: 768px) {
  .quick-start-module {
   padding-top:4rem;
   padding-bottom:4.125rem
  }
 }
 .quick-start-module p {
  color:#6c6c6d;
  font-size:1.125em;
  letter-spacing:0.25px;
  padding-bottom:.9375rem;
  margin-bottom:1.4rem
 }
 .quick-start-module h3 {
  font-size:1.5rem;
  letter-spacing:1.33px;
  line-height:2rem;
  text-transform:uppercase;
  margin-bottom:2.1rem
 }
 .quick-starts .cloud-option-body {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  height:64px;
  padding:0 0 0 5rem;
  position:relative;
  background-image:url("/assets/images/chevron-right-orange.svg");
  background-size:6px 13px;
  background-position:center right 15px;
  background-repeat:no-repeat
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option-body:after {
   content:"";
   display:block;
   width:0;
   height:1px;
   position:absolute;
   bottom:0;
   left:0;
   background-color:#ee4c2c;
   -webkit-transition: width .250s ease-in-out;
   transition:width .250s ease-in-out
  }
  .quick-starts .cloud-option-body:hover:after {
   width:100%
  }
  .quick-starts .cloud-option-body:hover {
   color:#262626
  }
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option-body {
   padding-right:2rem
  }
 }
 @media (min-width: 768px) and (max-width: 1239px) {
  .quick-starts .cloud-option-body {
   padding-right:1.25rem
  }
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option-body {
   background-size:8px 14px
  }
 }
 .quick-starts .cloud-option-body:before {
  opacity:0.5;
  position:absolute;
  left:1.875rem;
  top:21px
 }
 .quick-starts .cloud-option-body.aws:before {
  content:url("/assets/images/aws-logo.svg")
 }
 .quick-starts .cloud-option-body.microsoft-azure:before {
  content:url("/assets/images/microsoft-azure-logo.svg")
 }
 .quick-starts .cloud-option-body.google-cloud:before {
  content:url("/assets/images/google-cloud-logo.svg")
 }
 .quick-starts .cloud-option-body.colab:before {
  content:url("/assets/images/colab-logo.svg")
 }
 .quick-starts .cloud-option-body.alibaba:before {
  content:url("/assets/images/alibaba-logo.svg");
  left:.75rem;
  top:19px
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option-body.alibaba:before {
   left:1.0625rem
  }
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option-body:hover:before {
   opacity:1
  }
 }
 .quick-starts .cloud-option {
  background-color:#fff;
  margin-bottom:.125rem;
  border:2px solid #f3f4f7;
  font-size:1.125rem;
  letter-spacing:-0.25px;
  line-height:1.875rem;
  color:#262626
 }
 @media (min-width: 768px) and (max-width: 1239px) {
  .quick-starts .cloud-option {
   font-size:1rem
  }
 }
 .quick-starts .cloud-option ul {
  display:none;
  width:100%;
  margin:0 0 1.25rem 0;
  padding:0
 }
 .quick-starts .cloud-option ul li {
  margin-top:0;
  position:relative;
  padding-left:5rem
 }
 @media (min-width: 768px) and (max-width: 1239px) {
  .quick-starts .cloud-option ul li {
   font-size:1rem
  }
 }
 .quick-starts .cloud-option ul li a {
  color:#6c6c6d;
  letter-spacing:-0.25px;
  line-height:30px
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option ul li a:hover {
   color:#ee4c2c
  }
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option ul li:hover:before {
   content:"\2022";
   color:#ee4c2c;
   position:absolute;
   left:36px
  }
 }
 .quick-starts .cloud-option ul li:first-of-type {
  margin-top:1.25rem
 }
 .quick-starts .cloud-option.open .cloud-option-body {
  background-image:url("/assets/images/chevron-down-orange.svg");
  background-size:14px 14px;
  border-bottom:1px solid #ee4c2c;
  color:#262626
 }
 @media screen and (min-width: 768px) {
  .quick-starts .cloud-option.open .cloud-option-body {
   border-bottom:none
  }
 }
 .quick-starts .cloud-option.open .cloud-option-body:after {
  width:100%
 }
 .quick-starts .cloud-option.open .cloud-option-body:before {
  opacity:1
 }
 .quick-starts .cloud-option.open ul {
  display:block
 }